{%- capture curPageVersion -%}
	{%- if page.url contains '-v' -%}
		{{ page.url |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip }}
	{%- else -%}
		latest version
	{%- endif -%}
{%- endcapture -%}

{%- if curPageVersion == "latest version" -%}
	<li class="otherLinkColour" style="font-weight: bold;">latest version</li>		
{%- else -%}
	<li class="otherLinkColour" style="font-weight: bold;">{{ "version " | append: curPageVersion }}</li>
{%- endif -%}



{%- assign needRemoveStr = "-v" | append: curPageVersion -%}
{%- assign curUsedToMatchUrl = page.url | remove: needRemoveStr -%}

{%- if curUsedToMatchUrl contains 'index.html' -%}
	{%- assign curUsedToMatchUrl = curUsedToMatchUrl | remove: 'index.html' -%}
{%- endif -%}

{%- assign historyRecode = "" -%}
{%- assign historyMd5HashVar = "" -%}
{%- assign urlRecode = "" -%}
{%- assign recodeCount = 0 -%}



{%- for my_page in site.pages -%}
	{%- capture tmpPageVersion -%}
		{%- if my_page.url contains '-v' -%}
			{{ my_page.url |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip }}
		{%- else -%}
			latest version
		{%- endif -%}
	{%- endcapture -%}

	{%- if my_page.md5HashVal and  page.md5HashVal and my_page.md5HashVal == page.md5HashVal -%}
		{%- if curPageVersion != "latest version" and curPageVersion != tmpPageVersion and  tmpPageVersion > curPageVersion -%}
			{%- assign curPageVersion = tmpPageVersion -%}
		{%- endif -%}
		{%- continue -%}
	{%- endif -%}

	{%- assign needRemoveStr = "-v" | append: tmpPageVersion -%}
	{%- assign tmpUsedToMatchUrl = my_page.url | remove: needRemoveStr -%}

	{%- if tmpUsedToMatchUrl contains 'index.html' -%}
		{%- assign tmpUsedToMatchUrl = tmpUsedToMatchUrl | remove: 'index.html' -%}
	{%- endif -%}

	{%- if tmpUsedToMatchUrl != curUsedToMatchUrl -%}
		{%- continue -%}
	{%- endif -%}

	{%- assign newVer = true -%}
	{%- assign historyVer = historyRecode | split: '/' -%}
	{%- assign hsitoryMd5 = historyMd5HashVar | split: '/' -%}
	{%- for i in (0..recodeCount-1) -%}
		{%- if my_page.md5HashVal and my_page.md5HashVal == hsitoryMd5[i] -%}
			{%- if historyVer[i] != "latest version" and historyVer[i] != tmpPageVersion and tmpPageVersion > historyVer[i] -%}
				{%- assign historyUrl = urlRecode | split: '\nextUrlRecode\' -%}
				{%- assign tmpVerRecode = "" -%}
				{%- assign tmpMd5HashVar = "" -%}
				{%- assign tmpUrlRecode = "" -%}

				{%- for j in (0..recodeCount-1) -%}
					{%- if j != i -%}
						{%- assign tmpVerRecode = tmpVerRecode | append: '/' | append: historyVer[j] -%}
						{%- assign tmpMd5HashVar = tmpMd5HashVar | append: '/' | append: hsitoryMd5[j] -%}
						{%- assign tmpUrlRecode = tmpUrlRecode | append: '\nextUrlRecode\' | append: historyUrl[j] -%}
					{%- else -%}
						{%- assign tmpVerRecode = tmpVerRecode | append: '/' | append: tmpPageVersion -%}
						{%- assign tmpMd5HashVar = tmpMd5HashVar | append: '/' | append: my_page.md5HashVal -%}
						{%- assign tmpUrlRecode = tmpUrlRecode | append: '\nextUrlRecode\' | append: my_page.url -%}
					{%- endif -%}
				{%- endfor -%}

				{%- assign historyRecode = tmpVerRecode -%}
				{%- assign historyMd5HashVar = tmpMd5HashVar -%}
				{%- assign urlRecode = tmpUrlRecode -%}
			{%- endif -%}
			{%- assign newVer = false -%}
			{%- break -%}
		{%- endif -%}
		{%- if historyVer[i] == tmpPageVersion -%}
			{%- assign newVer = false -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}

	{%- unless newVer -%}
		{%- continue -%}
	{%- endunless -%}

	{%- assign historyRecode = historyRecode | append: '/' | append: tmpPageVersion -%}

	{%- if my_page.md5HashVal -%}
		{%- assign historyMd5HashVar = historyMd5HashVar | append: '/' | append: my_page.md5HashVal -%}
	{%- endif -%}
	{%- assign urlRecode = urlRecode | append: '\nextUrlRecode\' | append: my_page.url -%}
	{%- assign recodeCount = recodeCount | plus: 1 -%}

{%- endfor -%}

{{ recodeCount }}
{{ historyRecode }}
{{ urlRecode }}

{%- if recodeCount > 0 -%}
<ul class="otherVersions">
{%- assign historyVer = historyRecode | split: '/' -%}
{%- assign historyUrl = urlRecode | split: '\nextUrlRecode\' -%}
{%- for i in (0..recodeCount-1) -%}
	{%- if historyVer[i] == "latest version" -%}
			<li><a href = "{{ site.docHomePage }}{{ historyUrl[i] }}" class="otherLinkColour">latest version</a></li>		
		{%- else -%}
			<li><a href = "{{ site.docHomePage }}{{ historyUrl.url }}" class="otherLinkColour">{{ "version " | append: historyVer[i] }}</a></li>
{%- endif -%}
{%- endfor -%}
</ul>
	<a class="changeBtn fontOswald" href="javascript:;">Change +</a>
{%- endif -%}
