{%- assign level_ary = page.url | strip | split: '/' -%}
{%- assign limitCount = level_ary | size | plus:0 -%}
{%- if page.sidebarListFile -%}
    {%- unless page.url contains '.html' -%}
        {%- assign lastStrSize = level_ary | last | strip | size | plus:0 -%}
        {%- unless lastStrSize > 0  -%}
            {%- assign limitCount = limitCount | minus:1 -%}
        {%- endunless -%}
    {%- endunless -%}
{%- endif -%}
{%- assign validCount = 0 -%}
{%- for cur_level in level_ary limit:limitCount -%}
    {%- assign breadcrumbUrl = page.url | split: cur_level | first | strip -%}
    {%- for my_page in site.pages -%}

    {%- endfor -%}
{%- endfor -%}