{%- comment -%}
{%- assign curPageFileName = page.url | split: '/' | last | replace: '.html', '' -%}
{%- assign curPathName = page.url | split: curPageFileName | first -%}
{%- capture curPageFileNameWithoutVer -%}	
{%- if curPageFileName contains '-v' -%}	
{{ curPageFileName | split: '-v' | first }}
{%- else -%}
{{ curPageFileName }}
{%- endif -%}
{%- endcapture -%}
{%- for my_page in site.pages -%}
	{%- assign tmpPageFileName = my_page.url | split: '/' | last | replace: '.html', '' -%}		
	{%- assign tmpPathName = my_page.url | split: tmpPageFileName | first -%}		
	{%- if curPathName == tmpPathName and tmpPageFileName != curPageFileName -%}		
		{%- capture tmpPageFileNameWithoutVer -%}		
		{%- if tmpPageFileName contains '-v' -%}		
		{{ tmpPageFileName | split: '-v' | first }}			
		{%- else -%}		
		{{ tmpPageFileName }}			
		{%- endif -%}
		{%- endcapture -%}

		{%- assign a1 = tmpPageFileNameWithoutVer | strip -%}
		{%- assign a2 = curPageFileNameWithoutVer | strip -%}

		{%- if a1 == a2 -%}	
			{%- if tmpPageFileName contains '-v' -%}			
				{%- capture liName -%} version {{ tmpPageFileName |  split: '-v' | last }} {%- endcapture -%}			
				<li><a href = "{{ site.docHomePage }}{{ my_page.url }}" class="otherLinkColour">{{ liName }}</a></li>				
			{%- else -%}
				<li><a href = "{{ site.docHomePage }}{{ my_page.url }}" class="otherLinkColour">latest version</a></li>	
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}	
{%- endfor -%}
{%- endcomment -%}


{%- capture curPageVersion -%}
	{%- if page.url contains '-v' -%}
		{{ page.url |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip }}
	{%- else -%}
		latest version
	{%- endif -%}
{%- endcapture -%}

{%- assign needRemoveStr = "-v" | append: curPageVersion -%}
{%- assign curUsedToMatchUrl = page.url | remove: needRemoveStr -%}

{%- assign historyRecode = "" -%}

{%- for my_page in site.pages -%}
	{%- capture tmpPageVersion -%}
		{%- if my_page.url contains '-v' -%}
			{{ my_page.url |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip }}
		{%- else -%}
			latest version
		{%- endif -%}
	{%- endcapture -%}

	{%- if tmpPageVersion == curPageVersion -%}
		{%- continue -%}
	{%- endif -%}

	{{ tmpPageVersion }}
	{%- assign newVer = true -%}
	{%- assign historyVer = historyRecode | split: '/' -%}
	{%- for ver in historyVer -%}
		{%- if ver == tmpPageVersion -%}
			{{ ver }}
			{%- assign newVer = false -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}

	{{ newVer }}
	{%- unless newVer -%}
		{%- continue -%}
	{%- endunless -%}

	{%- assign needRemoveStr = "-v" | append: tmpPageVersion -%}
	{%- assign tmpUsedToMatchUrl = my_page.url | remove: needRemoveStr -%}

	{%- if tmpUsedToMatchUrl == curUsedToMatchUrl -%}
		{%- assign historyRecode = historyRecode | append: '/' | append: "tmpPageVersion" -%}
		{%- if tmpPageVersion == "latest version" -%}
			<li><a href = "{{ site.docHomePage }}{{ my_page.url }}" class="otherLinkColour">latest version</a></li>		
		{%- else -%}
			<li><a href = "{{ site.docHomePage }}{{ my_page.url }}" class="otherLinkColour">{{ "version " | append: tmpPageVersion }}</a></li>	
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}
