<div class="sideBarHeader">
	<p><a href="{{ site.homePage }}" class="sideHomePage">< Documentation Home Page</a></p>
	<p class="sideName">Overview</p>
</div>	
<ul class="disc" id= "menuLsitContainer" name="listLevel1">
    <li><a href="#barcode-formats" class="otherLinkColour">Barcode Formats</a></li>
    <li><a href="#programming-languages-and-frameworks" class="otherLinkColour">Programming Languages and Frameworks</a></li>
    <li><a href="#key-features" class="otherLinkColour">Key Features</a>
        <ul name="listLevel2">
            <li><a href="#customize-every-aspect-of-the-barcode-image" class="otherLinkColour">Customize every aspect of the barcode image</a></li>
            <li><a href="#adjustable-balance-between-speed-and-accuracy" class="otherLinkColour">Adjustable balance between speed and accuracy</a></li>
            <li><a href="#universal-architecture-to-handle-various-barcode-formats" class="otherLinkColour">Universal architecture to handle various barcode formats</a></li>
            <li><a href="#friendly-interfaces-to-third-party-applications" class="otherLinkColour">Friendly interfaces to third-party applications</a></li>
        </ul>
    </li>
    <li><a href="#enhanced-functionalities" class="otherLinkColour">Enhanced Functionalities</a>
        <ul name="listLevel2">
            <li><a href="#intermediate-results" class="otherLinkColour">Intermediate Results</a></li>
            <li><a href="#data-matrix-direct-part-marking" class="otherLinkColour">Data Matrix Direct Part Marking</a></li>
            <li><a href="#panorama--overlap" class="otherLinkColour">Panorama / Overlap</a></li>
            <li><a href="#vector-pdf-file" class="otherLinkColour">Vector PDF File</a></li>
        </ul>
    </li>
    <li><a href="#user-scenarios" class="otherLinkColour">User Scenarios</a></li>
</ul>