<div class="sideBarHeader">
	<p><a href="{{ site.homePage }}" class="sideHomePage">< Documentation Home Page</a></p>
	<p class="sideName">Principles</p>
</div>	
<ul class="disc" id= "menuLsitContainer" name="listLevel1">
    <li><a href="#flexible-algorithm-flow--versatile-parameters" class="otherLinkColour">Flexible Algorithm Flow & Versatile Parameters</a>
        <ul name="listLevel2">
            <li><a href="#stage-1-is-to-get-regions-of-interest-roi-images" class="otherLinkColour">Stage 1 is to get regions of interest (ROI) image(s).</a></li>
            <li><a href="#stage-2-is-to-localize-barcode-zones" class="otherLinkColour">Stage 2 is to localize barcode zones.</a></li>
            <li><a href="#stage-3-is-to-partition-barcode-zones-precisely" class="otherLinkColour">Stage 3 is to partition barcode zones precisely.</a></li>
            <li><a href="#stage-4-is-to-decode-one-calibrated-barcoded-images" class="otherLinkColour">Stage 4 is to decode one-calibrated-barcoded images.</a></li>
            <li><a href="#stage-5-is-to-output-results" class="otherLinkColour">Stage 5 is to output results.</a></li>
        </ul>
    </li>
    <li><a href="#customizable-balance-of-speed-and-accuracy" class="otherLinkColour">Customizable Balance of Speed and Accuracy</a></li>
    <li><a href="#intermediate-result-and-third-party-integration" class="otherLinkColour">Intermediate Result and third-party integration</a></li>
</ul>