{%- assign targetPath = include.curPath | append: include.targetRelativePath -%}
{%- assign validTreeFiles = site.treefile_array | split: " " -%}

{%- assign targetVer = include.ver -%}
{%- if include.ver == "latest version" -%}
        {%- assign targetVer = "10000" -%}
{%- endif -%}

{%- assign nearestFile = "" -%}
{%- assign findTargetFile = false -%}
{%- assign nearestVer = "10000" -%}

{%- for treeFile in validTreeFiles -%}
        {%- assign curTreeFileVer = "10000" -%}
        {%- assign matchUrl = treeFile -%}
        {%- if treeFile contains '-v' -%}
                {%- assign curTreeFileVer = treeFile |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip -%}
                {%- assign matchUrl = treeFile | remove: '-v' | remove: curTreeFileVer | rstrip -%}
        {%- endif -%}
        {%- if matchUrl == targetPath -%}
                {{ matchUrl }}
                {%- if targetVer == curTreeFileVer -%}
                        {%- assign nearestFile = treeFile -%}
                        {%- assign findTargetFile = true -%}
                        {%- break -%}
                {%- elsif targetVer < curTreeFileVer -%}
                        {%- if findTargetFile -%}
                                {%- if nearestVer - targetVer | abs > curTreeFileVer - targetVer | abs -%}
                                        {%- assign nearestFile = treeFile -%}
                                        {%- assign nearestVer = curTreeFileVer -%}
                                {%- endif -%}
                        {%- else -%}
                                {%- assign nearestFile = treeFile -%}
                                {%- assign nearestVer = curTreeFileVer -%}
                                {%- assign findTargetFile = true -%}
                        {%- endif -%}
                {%- endif -%}
        {%- endif -%}
{%- endfor -%}

{%- if findTargetFile -%}
        {%- assign relativePath = nearestFile | remove: include.curPath -%}
        {%- assign curDirPath = "" -%}
        {%- if nearestFile contains '/' -%}
                {%- assign needRemoveStr = nearestFile |  split: '/' | last | rstrip -%}
                {%- assign currentPath = page.url | remove: needRemoveStr -%}
        {%- endif -%}
        {%- include {{ relativePath }} ver=include.ver curPath=curDirPath -%}
{%- endif -%}