<ul class="mainPage" id= "menuLsitContainer" name="listLevel1">
	<li><span>DBR Basic Information</span>
		<ul name="listLevel2">
			<li><a href="{{ site.basicInfo }}overview.html" class="otherLinkColour">Overview</a></li>
			<li><a href="{{ site.basicInfo }}principles.html" class="otherLinkColour">Principles</a></li>
			<li><a href="{{ site.basicInfo }}user-guide.html" class="otherLinkColour">User Guides</a></li>
			<li><a href="{{ site.basicInfo }}evaluation-tools.html" class="otherLinkColour">Evaluation Tools</a></li>
			<li><a href="{{ site.basicInfo }}security-issues.html" class="otherLinkColour">Security Issues</a></li>
		</ul>
	</li>

	<li><span>DBR Detailed Information</span>
		<ul name="listLevel2">
			<li><a href="{{ site.detailedInfo }}manual.html" class="otherLinkColour">Manual</a>
			<ul name="listLevel3">
				<li><a href="{{ site.manual }}interface.html" class="otherLinkColour">interface</a></li>
				<li><a href="{{ site.manual }}parameters.html" class="otherLinkColour">parameters</a></li>
			</ul>
			</li>
			<li><a href="{{ site.detailedInfo }}samples-and-demos.html" class="otherLinkColour">Demos and Samples</a></li>
		</ul>
	</li>

	<li><span>DBR Enhancements</span>
		<ul name="listLevel2">
			<li><a href="{{ site.enhancements }}intermediate-results.html" class="otherLinkColour">Intermediate Results</a></li>
			<li><a href="{{ site.enhancements }}dpm.html" class="otherLinkColour">Direct Part Marking (DPM)</a></li>
			<li><a href="{{ site.enhancements }}panorama-and-overlap.html" class="otherLinkColour">Panorama / Overlap</a></li>
			<li><a href="{{ site.enhancements }}3d-reconstruction.html" class="otherLinkColour">3D Reconstruction</a></li>
			<li><a href="{{ site.enhancements }}pdf-vectors.html" class="otherLinkColour">PDF Vectors</a></li>
		</ul>
	</li>

	<li><span>DBR Extended Information</span>
		<ul name="listLevel2">
			<li><a href="{{ site.extendedInfo }}industrial-solutions.html" class="otherLinkColour">Industrial solutions</a></li>
			<li><a href="{{ site.extendedInfo }}how-to-use-parameters.html" class="otherLinkColour">How to use parameters</a></li>
			<li><a href="{{ site.extendedInfo }}how-to-handle-complicate-images.html" class="otherLinkColour">How to handle complicate images</a></li>
			<li><a href="{{ site.extendedInfo }}license-and-usage-tracking.html" class="otherLinkColour">License &amp; Usage Tracking</a></li>
			<li><a href="{{ site.extendedInfo }}barcode-basis-knowledge.html" class="otherLinkColour">Barcode basis knowledge</a></li>
			<li><a href="{{ site.extendedInfo }}image-processing-knowledge.html" class="otherLinkColour">Image processing knowledge</a></li>
		</ul>
	</li>
</ul>

