<div class="sideBarHeader">
	<p><a href="{{ site.homePage }}" class="sideHomePage">< Documentation Home Page</a></p>
	<p><a href="{{ site.basicInfo }}user-guide.html" class="sideName">User Guide</a></p>
</div>	
<ul class="disc">
	<li>
		<a href="{{ site.userGuide }}windows.html" class="otherLinkColour">Windows</a> 
		<ul>
			<li><a href="{{ site.userGuide_windows }}c.html" class="otherLinkColour">C</a></li>
			<li><a href="{{ site.userGuide_windows }}cpp.html" class="otherLinkColour">C++</a></li>
			<li><a href="{{ site.userGuide_windows }}csharp.html" class="otherLinkColour">C#</a></li>
			<li><a href="{{ site.userGuide_windows }}java.html" class="otherLinkColour">Java</a></li>
			<li><a href="{{ site.userGuide_windows }}php.html" class="otherLinkColour">PHP</a></li>
			<li><a href="{{ site.userGuide_windows }}python.html" class="otherLinkColour">Python</a></li>
		</ul> 
	</li>
	<li>
		<a href="{{ site.userGuide }}linux.html" class="otherLinkColour">Linux</a>
	</li>
	<li>
		Mobile
		<ul>
			<li><a href="{{ site.userGuide }}ios.html" class="otherLinkColour">iOS</a></li>
			<li><a href="{{ site.userGuide }}android.html" class="otherLinkColour">Android</a></li>
		</ul>
	</li>
	<li>
		<a href="{{ site.userGuide }}wasm.html" class="otherLinkColour">JavaScript</a>			
	</li>
</ul>
