<div class="sideBarHeader">
	<p><a href="{{ site.homePage }}" class="sideHomePage">< Documentation Home Page</a></p>
	<p class="sideName">User Guide for C</p>
</div>	
<ul class="disc" id= "menuLsitContainer" name="listLevel1">
    <li><a href="#system-requirements" class="otherLinkColour">System Requirements</a></li>
    <li><a href="#installation" class="otherLinkColour">Installation</a></li>
    <li><a href="#getting-started-helloworld" class="otherLinkColour">Getting Started: HelloWorld</a></li>
    <li><a href="#decoding-methods" class="otherLinkColour">Decoding Methods</a></li>
    <li><a href="#barcode-reading-settings" class="otherLinkColour">Barcode Reading Settings</a>
        <ul name="listLevel2">
            <li><a href="#use-publicruntimesettings-struct-to-change-settings" class="otherLinkColour">Use PublicRuntimeSettings Struct to Change Settings</a></li>
            <li><a href="#use-a-template-to-change-settings" class="otherLinkColour">Use A Template to Change Settings</a></li>
        </ul>
    </li>
    <li><a href="#licensing-and-distributing" class="otherLinkColour">Licensing and Distributing</a></li>
    <li><a href="#how-to-guides" class="otherLinkColour">How-to Guides</a></li>
    <li><a href="#faq" class="otherLinkColour">FAQ</a></li><li><a href="#contact-us" class="otherLinkColour">Contact Us</a></li>
</ul>

