font-face { 
  	font-family: OpenSans-Light; 
  	src: url('/font-face/OpenSans-Light.eot'); 
  	src: local('â˜º'), url('/font-face/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('/font-face/OpenSans-Light.woff') format('woff'), url('/font-face/OpenSans-Light.ttf') format('truetype'), url('/font-face/OpenSans-Light.svg#webfontOTINA1xY') format('svg'); 
  	font-weight: normal; 
  	font-style: normal; 
}

@font-face { 
  	font-family: OpenSans-Regular; 
  	src: url('/font-face/OpenSans-Regular.eot'); 
  	src: local('â˜º'), url('/font-face/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('/font-face/OpenSans-Regular.woff') format('woff'), url('/font-face/OpenSans-Regular.ttf') format('truetype'), url('/font-face/OpenSans-Regular.svg#webfontOTINA1xY') format('svg'); 
  	font-weight: normal; 
  	font-style: normal; 
}

@font-face { 
  	font-family: OpenSans-Semibold; 
  	src: url('/font-face/OpenSans-Semibold.eot'); 
  	src: local('â˜º'), url('/font-face/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('/font-face/OpenSans-Semibold.woff') format('woff'), url('/font-face/OpenSans-Semibold.ttf') format('truetype'), url('/font-face/OpenSans-Semibold.svg#webfontOTINA1xY') format('svg'); 
  	font-weight: normal; 
  	font-style: normal; 
}

.currentPageHeader {
  	font-weight: bold;
}

.currentPageColour { 
  	background:#F0F0F0; 
  	color: #FF8040;  
  	font-weight: bold;
}

.otherLinkColour{
	color: #696969; 
}

*{ box-sizing: border-box; margin: 0; padding: 0; }

.wrapper { 
	width: 100%; 
}

.wrapper .sideBar { 
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 330px; 
	height: 100vh; 
	border-right: 1px solid #ddd; 
	background: #fff; 
	overflow: auto; 
}

.wrapper .container { 
	width: 100%; 
	padding-left: 350px; 
}

.wrapper .container .head { 
	position: fixed; 
	top: 0; 
	width: calc(100% - 330x); 
	height: 40px; 
	color: #ffffff; 
	background: #3196fc; 
	line-height: 40px; 
	padding: 0 20px; 
}

.wrapper .container .main { 
	margin-top: 20px; 
	padding: 20px; 
}


.wrapper .container .main .topHead {
	padding-top:10px; 
	padding-bottom: 10px; 
	padding-right: 15px; 
	padding-left: 15px; 
	height: 200px; 
	position: fixed; 
	padding-right: 80px; 
	background: #fff; 
	overflow: auto;

}

.wrapper .container .main .content { 
	margin-top: 200px; 
	padding-right: 80px; 
}

.wrapper .container .main .sideMenu { 
	width: 80px; 
	position: fixed; 
	right: 0; 
}

.sideBarProductPage { 
	border-bottom: 1px solid #585858; 
	padding-top:10px;  
	padding-bottom: 10px; 
	padding-right: 8px; 
	padding-left: 10px; 
	height: 60px; 
	position: fixed; 
	width: 329px; 
	background: #585858; 
}

.sideBarHeader { 
	margin-top: 60px; 
	border-bottom: 1px solid #ddd; 
	padding-top:10px; 
	padding-bottom: 10px; 
	padding-right: 15px; 
	padding-left: 15px; 
	height: 80px; 
	position: fixed; 
	width: 329px; 
	background: #fff; 
}

.sideDBRLogo { 
	width: 40px; 
	float: left; 
	align: left; 
}

.sideProductPage { 
	font-family:"OpenSans-Semibold"; 
	height:40px; 
	line-height: 40px; 
	font-size: 19px; 
	color: #FFFFFF; 
}

.sideName { 
	font-famil: "OpenSans-Light";
	font-size: 18px; 
	font-weight: bold;
	color: #3C3C3C; 
}

.sideHomePage { 
	font-size: 13px; 
	color: #8E8E8E; 
}

table { 
	border-collapse: collapse; 
	text-align: left; 
	table-layout: fixed; 
}

table td, table th { 
	border: 1px solid #c7d0db; 
	color: #666; 
	height: 30px; 
	padding: 5px 10px; 
}

table thead th { 
	background-color: #d7ebee; 
	text-align: center; 
}

table tr:nth-child(odd) { 
	background: #fff; 
}

table tr:nth-child(even) { 
	background: #F5FAFA; 
}

ul { 
	margin-left: 20px; 
}

ul.circle {
	list-style-type:circle; 
	padding-left: 30px; 
	line-height: 28px;
}

ul.square {
	list-style-type:square; 
	padding-left: 30px; 
	line-height: 28px;
}

ul.disc { 
	list-style-type: disc; 
	padding-left: 30px; 
	line-height: 28px; 
	margin-left: 0;
	margin-top: 149px;
}
ul li { 
	cursor: pointer; 
}

ul.circle > li p:hover, ul.circle li.on p, ul.square > li.on p, ul.square > li p:hover, ul.disc > li.on p, ul.disc > li p:hover { color: #3196fc; }

ul.mainPage { 
	list-style-type: disc; 
	padding-left: 30px; 
	line-height: 28px;  
	margin-top: 69px; 
}

.headCounter h2:before
{
    content: counter(h2counter) "	";
}

.headCounter h2
{
  counter-reset: h3counter;
    counter-increment: h2counter;
}

.headCounter h3:before
{
    content: counter(h2counter) "." counter(h3counter) "	";
}

.headCounter h3
{
    counter-increment: h3counter;
}

@media (max-width: 1200px) {
  .wrapper .sideBar { display:  none; }
  .wrapper .container { padding-left: 0 } 
  .wrapper .container .head { width: 100%;  }
}
