<ul>
        <li><span>DBR Basic Information</span>
                <ul>
                        <li><a href="{{ site.dbrOverview }}">Overview</a></li>
                        <li><a href="{{ site.dbrPrinciples }}">Principles</a></li>
                        <li><a href="{{ site.userGuide }}">User Guides</a></li>
                        <li><a href="{{ site.evaluationTools }}">Evaluation Tools</a></li>
                        <li><a href="{{ site.securityIssues }}">Security Issues</a></li>
                </ul>
        </li>

        <li><span>DBR Detailed Information</span>
                <ul>
                        <li><a href="{{ site.manual }}">Manual</a>
                        <ul>
                                <li><a href="{{ site.manual_interface }}">interface</a></li>
                                <li><a href="{{ site.manual_parameter }}">parameters</a></li>
                        </ul>
                        </li>
                        <li><a href="{{ site.demosSamples }}">Demos and Samples</a></li>
                </ul>
        </li>

        <li><span>DBR Enhancements</span>
                <ul>
                        <li><a href="{{ site.intermediateResults }}">Intermediate Results</a></li>
                        <li><a href="{{ site.dpm }}">Direct Part Marking (DPM)</a></li>
                        <li><a href="{{ site.panoramaOverlap }}">Panorama / Overlap</a></li>
                        <li><a href="{{ site.3dReconstruction }}">3D Reconstruction</a></li>
                        <li><a href="{{ site.pdfVectors }}">PDF Vectors</a></li>
                </ul>
        </li>

        <li><span>DBR Extended Information</span>
                <ul>
                        <li><a href="{{ site.industrialSolutions }}">Industrial solutions</a></li>
                        <li><a href="{{ site.parameterUsage }}">How to use parameters</a></li>
                        <li><a href="{{ site.complicateImageHandling }}">How to handle complicate images</a></li>
                        <li><a href="{{ site.licenseUsageTracking }}">License &amp; Usage Tracking</a></li>
                        <li><a href="{{ site.barcodeBasisKnowledge }}">Barcode basis knowledge</a></li>
                        <li><a href="{{ site.imageProcessingKnowledge }}">Image processing knowledge</a></li>
                </ul>
        </li>

</ul>
