<!DOCTYPE html>
<html lang="en-US">
	
{%- include head.html -%}
     
	<body>
		<div class="wrapper">
			<div class="sideBar">
				{%- include sideBarProductPage.html -%}			
				{%- include topLevelList.html -%}
			</div>
			<div class="container">
				<div class="main">
					<div class = "content markdown-body">
						<p align="left"><img src="{{ site.dynamsoft_logo }}"  alt="Dynamsoft Logo"/></p>
						<h2 id="in-the-process-of-development">in the process of development…</h2>
						<p>Back to <a href="/">Homepage</a></p>
					<div>
				</div>
			</div>
    		</div>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    		<script>anchors.add();</script>
  	</body>
</html>

