<!DOCTYPE html>
<html lang="en-US">
	
{%- include head.html -%}
     
	<body>
		<div class="wrapper">
			<div class="sideBar"><div class="sideBarProductPage">
		<p align="left"><img src="/other-material/logo/dbr_logo.png" class = "sideDBRLogo" alt="DBR Logo"/>&nbsp;&nbsp;<a href="https://www.dynamsoft.com/Products/Dynamic-Barcode-Reader.aspx" class="sideProductPage">Dynamsoft Barcode Reader</a></p>
		</div>
		<div class="sideBarHeader">
					<p><a href="/" class="sideHomePage">< Documentation Home Page</a></p>
					<p class="sideName">{{ page.sideHeader }}</p>
				</div>	
				<ul class="disc" id= "menuLsitContainer" name="listLevel1">
				</ul>
			</div>
			<div class="container">
				<div class="main">
					<div class = "content markdown-body headCounter">
						<p align="left"><img src="/other-material/logo/dynamsoft_logo.png"  alt="Dynamsoft Logo"/></p>
						<p align="right"><a href="https://github.com/BBong119/bbong119.github.io/blob/master/dbr-basic-info/overview/index.md" class="otherLinkColour">Edit<img src="/other-material/icon/editIcon.png" width="20px" height="15px" /></a></p>
						{{ content }}
					<div>
				</div>
			</div>
    		</div>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    		<script>anchors.add();</script>
		<script>
			GenerateContentByHead();
			ListExpandCollapse();
		</script>
  	</body>
</html>

