
<!DOCTYPE html>
<html lang="en-US">
	
{%- include head.html -%}
     
<body>
	<div class="wrapper">
		<div class="sideBar">	 
			<div class="sideBarHeader">
				<p><a href="{{ site.homePage }}" class="sideHomePage">< Documentation Home Page</a></p>
				<p><a href="{{ site.manual_interface_struct }}" class="sideName">Dyanamsoft Barcocde Reader - C and C++ Struct</a></p>
			</div>	
			<ul class="disc">
 				<li><a href="{{ site.manual_interface_struct }}AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
 				<li><a href="{{ site.manual_interface_struct }}Contour.html" class="otherLinkColour">Contour</a></li>
 				<li><a href="{{ site.manual_interface_struct }}DBRPoint.html" class="otherLinkColour">DBRPoint</a></li>
 				<li><a href="{{ site.manual_interface_struct }}DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
 				<li><a href="{{ site.manual_interface_struct }}ExtendedResult.html" class="otherLinkColour">ExtendedResult</code></a></li>
 				<li><a href="{{ site.manual_interface_struct }}FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
 				<li><a href="{{ site.manual_interface_struct }}FurtherModes.html" class="otherLinkColour">FurtherModes</code></a></li>
 				<li><a href="{{ site.manual_interface_struct }}ImageData.html" class="otherLinkColour">ImageData</code></a></li>
 				<li><a href="{{ site.manual_interface_struct }}IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
 				<li><a href="{{ site.manual_interface_struct }}IntermediateResultArray.html" class="otherLinkColour">IntermediateResultArray</a></li>
 				<li><a href="{{ site.manual_interface_struct }}LineSegment.html" class="otherLinkColour">LineSegment</a></li>
 				<li><a href="{{ site.manual_interface_struct }}LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
 				<li><a href="{{ site.manual_interface_struct }}OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
 				<li><a href="{{ site.manual_interface_struct }}PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
 				<li><a href="{{ site.manual_interface_struct }}PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
 				<li><a href="{{ site.manual_interface_struct }}QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
 				<li><a href="{{ site.manual_interface_struct }}RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
 				<li><a href="{{ site.manual_interface_struct }}RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
 				<li><a href="{{ site.manual_interface_struct }}SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
 				<li><a href="{{ site.manual_interface_struct }}TextResult.html" class="otherLinkColour">TextResult</a></li>
 				<li><a href="{{ site.manual_interface_struct }}TextResultArray.html" class="otherLinkColour">TextResultArray</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="main">
				<div class = "content markdown-body">
					<p align="left"><img src="{{ site.dynamsoft_logo }}"  alt="Dynamsoft Logo"/></p>
					<p align="right"><a href="{{ site.repositoryUrl }}{{ page.sourceCodeUrl }}" class="otherLinkColour">Edit<img src="{{ site.editIcon }}" width="20px" height="15px" /></a></p>
					{{ content }}
				<div>
			</div>
		</div>
    	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    
  </body>
</html>

