---
layout: default_ExpandCollapseList
---

<div class="sideBarHeader">
	<p><a href="{{ site.homePage }}" class="sideHomePage">< Documentation Home Page</a></p>
	<p><a href="{{ site.manual_interface_enum }}" class="sideName">Enumeration</a></p>
</div>	
<ul class="disc" id= "menuLsitContainer" name="listLevel1">
	<li><span><a href="{{ site.manual_interface_enum}}format-enum.html" class="otherLinkColour">Format Enumeration</a></span>
		<ul name="listLevel2">
			<li><a href="{{ site.manual_interface_enum}}format-enum.html#barcodeformat" class="otherLinkColour">BarcodeFormat</a></li>
			<li><a href="{{ site.manual_interface_enum}}format-enum.html#barcodeformat_2" class="otherLinkColour">BarcodeFormat_2</a></li>
		</ul>
	</li>
	<li><span><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html" class="otherLinkColour">Parameter Mode Enumeration</a></span>
		<ul name="listLevel2">
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#accompanyingtextrecognitionmode" class="otherLinkColour">AccompanyingTextRecognitionMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#barcodecolourmode" class="otherLinkColour">BarcodeColourMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#barcodecomplementmode" class="otherLinkColour">BarcodeComplementMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#binarizationmode" class="otherLinkColour">BinarizationMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#colourclusteringmode" class="otherLinkColour">ColourClusteringMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#colourconversionmode" class="otherLinkColour">ColourConversionMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#conflictmode" class="otherLinkColour">ConflictMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#deformationresistingmode" class="otherLinkColour">DeformationResistingMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#dpmcodereadingmode" class="otherLinkColour">DPMCodeReadingMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#grayscaletransformationmode" class="otherLinkColour">GrayscaleTransformationMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#imagepreprocessingmode" class="otherLinkColour">ImagePreprocessingMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#localizationmode" class="otherLinkColour">LocalizationMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#regionpredetectionmode" class="otherLinkColour">RegionPredetectionMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#scaleupmode" class="otherLinkColour">ScaleUpMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#terminatephase" class="otherLinkColour">TerminatePhase</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#textassistedcorrectionmode" class="otherLinkColour">TextAssistedCorrectionMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#textfiltermode" class="otherLinkColour">TextFilterMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#texturedetectionmode" class="otherLinkColour">TextureDetectionMode</a></li>  
		</ul>
	</li>
	<li><span><a href="{{ site.manual_interface_enum}}result-enum.html" class="otherLinkColour">Result Related Enumeration</a></span>
		<ul name="listLevel2">
			<li><a href="{{ site.manual_interface_enum}}result-enum.html#imresultdatatype" class="otherLinkColour">IMResultDataType</a></li>
			<li><a href="{{ site.manual_interface_enum}}result-enum.html#intermediateresultsavingmode" class="otherLinkColour">IntermediateResultSavingMode</a></li>
			<li><a href="{{ site.manual_interface_enum}}result-enum.html#intermediateresulttype" class="otherLinkColour">IntermediateResultType</a></li>
			<li><a href="{{ site.manual_interface_enum}}result-enum.html#resultcoordinatetype" class="otherLinkColour">ResultCoordinateType</a></li>
			<li><a href="{{ site.manual_interface_enum}}result-enum.html#resulttype" class="otherLinkColour">ResultType</a></li>
			<li><a href="{{ site.manual_interface_enum}}result-enum.html#textresultordermode" class="otherLinkColour">TextResultOrderMode</a></li>
		</ul>
	</li>
	<li><span><a href="{{ site.manual_interface_enum}}frame-decoding-enum.html" class="otherLinkColour">Frame Decoding Enumeration</a></span>
		<ul name="listLevel2">
			<li><a href="{{ site.manual_interface_enum}}frame-decoding-enum.html#claritycalculationmethod" class="otherLinkColour">ClarityCalculationMethod</a></li>
			<li><a href="{{ site.manual_interface_enum}}frame-decoding-enum.html#clarityfiltermode" class="otherLinkColour">ClarityFilterMode</a></li>
		</ul>
	</li>
	<li><span><a href="{{ site.manual_interface_enum}}other-enum.html" class="otherLinkColour">Other Enumeration</a></span>
		<ul name="listLevel2">
			<li><a href="{{ site.manual_interface_enum}}other-enum.html#imagepixelformat" class="otherLinkColour">ImagePixelFormat</a></li>
			<li><a href="{{ site.manual_interface_enum}}other-enum.html#qrcodeerrorcorrectionlevel" class="otherLinkColour">QRCodeErrorCorrectionLevel</a></li>
		</ul>
	</li>
	<li><span><a href="{{ site.manual_interface_errorCode}}" class="otherLinkColour">ErrorCode</a></li></span> 
</ul>
