
<!DOCTYPE html>
<html lang="en-US">
	
{%- include head.html -%}
     
<body>
	<div class="wrapper">
		<div class="sideBar">	 
			<div class="sideBarHeader">
				<p><a href="{{ site.homePage }}" class="sideHomePage">< Documentation Home Page</a></p>
				<p><a href="{{ site.manual_parameter }}" class="sideName">Dyanamsoft Barcocde Reader - Parameters</a></p>
			</div>	
			<ul class="disc">
				<li>ImageParameter Object
        				<ul>
        			  		<li><a href="{{ site.manual_parameter}}imageParmeter/content-organization-control.html" class="otherLinkColour">Content Organization Control</a>
        			  			<ul>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/content-organization-control.html#name" class="otherLinkColour">Name</a></li>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/content-organization-control.html#description" class="otherLinkColour">Description</a></li>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/content-organization-control.html#formatspecificationnamearray" class="otherLinkColour">FormatSpecificationNameArray</a></li>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/content-organization-control.html#regiondefinitionnamearray" class="otherLinkColour">RegionDefinitionNameArray</a></li>
        			   			</ul>
        			  		</li>
        			  		<li><a href="{{ site.manual_parameter}}imageParmeter/cost-control.html" class="otherLinkColour">Cost Control</a>
        			   			<ul>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/cost-control.html#terminatephase" class="otherLinkColour">TerminatePhase</a></li>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/cost-control.html#timeout" class="otherLinkColour">Timeout</a></li>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/cost-control.html#maxalgorithmthreadcount" class="otherLinkColour">MaxAlgorithmThreadCount</a></li>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/cost-control.html#expectedbarcodescount" class="otherLinkColour">ExpectedBarcodesCount</a></li>
        			   			</ul>
        			  		</li>
        			  		<li><a href="{{ site.manual_parameter}}imageParmeter/format-control.html" class="otherLinkColour">Format Control</a>
        			  			<ul>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/format-control.html#barcodeformatids" class="otherLinkColour">BarcodeFormatIds</a>
								<li><a href="{{ site.manual_parameter}}imageParmeter/format-control.html#barcodeformatids_2" class="otherLinkColour">BarcodeFormatIds_2</a>
        			   			</ul>
        			  		</li>
        			  		<li><a href="{{ site.manual_parameter}}imageParmeter/result-control.html" class="otherLinkColour">Result Control</a>
        			  			<ul>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/result-control.html#intermediateresulttypes" class="otherLinkColour">IntermediateResultTypes</a></li>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/IntermediateResultSavingMode.html#intermediateresultsavingmode" class="otherLinkColour">IntermediateResultSavingMode</a></li>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/result-control.html#resultcoordinatetype" class="otherLinkColour">ResultCoordinateType</a></li>
        			    				<li><a href="{{ site.manual_parameter}}imageParmeter/TextResultOrderModes.html#textresultordermodes" class="otherLinkColour">TextResultOrderModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/result-control.html#returnbarcodezoneclarity" class="otherLinkColour">ReturnBarcodeZoneClarity</a></li>
        			   			</ul>
        			  		</li>
        			  		<li><a href="{{ site.manual_parameter}}imageParmeter/image-process-control.html" class="otherLinkColour">Image Process Control</a>
        			  			<ul>
								<li><a href="{{ site.manual_parameter}}imageParmeter/image-process-control.html#pages" class="otherLinkColour">Pages</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/image-process-control.html#pdfrasterdpi" class="otherLinkColour">PDFRasterDPI</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/image-process-control.html#scaledownthreshold" class="otherLinkColour">ScaleDownThreshold</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/ColourClusteringModes.html#colourclusteringmodes" class="otherLinkColour">ColourClusteringModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/ColourConversionModes.html#colourconversionmodes" class="otherLinkColour">ColourConversionModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/GrayscaleTransformationModes.html#grayscaletransformationmodes" class="otherLinkColour">GrayscaleTransformationModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/RegionPredetectionModes.html#regionpredetectionmodes" class="otherLinkColour">RegionPredetectionModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/ImagePreprocessingModes.html#imagepreprocessingmodes" class="otherLinkColour">ImagePreprocessingModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/BinarizationModes.html#binarizationmodes" class="otherLinkColour">BinarizationModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/TextureDetectionModes.html#texturedetectionmodes" class="otherLinkColour">TextureDetectionModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/LocalizationModes.html#localizationmodes" class="otherLinkColour">LocalizationModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/TextFilterModes.html#textfiltermodes" class="otherLinkColour">TextFilterModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/TextAssistedCorrectionMode.html#textassistedcorrectionmode" class="otherLinkColour">TextAssistedCorrectionMode</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/DPMCodeReadingModes.html#dpmcodereadingmodes" class="otherLinkColour">DPMCodeReadingModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/DeformationResistingModes.html#deformationresistingmodes" class="otherLinkColour">DeformationResistingModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/BarcodeComplementModes.html#barcodecomplementmodes" class="otherLinkColour">BarcodeComplementModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/BarcodeColourModes.html#barcodecolourmodes" class="otherLinkColour">BarcodeColourModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/image-process-control.html#deblurlevel" class="otherLinkColour">DeblurLevel</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/AccompanyingTextRecognitionModes.html#accompanyingtextrecognitionmodes" class="otherLinkColour">AccompanyingTextRecognitionModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/ScaleUpModes.html#scaleupmodes" class="otherLinkColour">ScaleUpModes</a></li>
								<li><a href="{{ site.manual_parameter}}imageParmeter/image-process-control.html#pdfreadingmode" class="otherLinkColour">PDFReadingMode</a></li>
        			   			</ul>
        			  		</li>
        			 	</ul>
        			</li>
				<li>RegionDefinition Object
        				<ul>
						<li><a href="{{ site.manual_parameter}}regionDefinition/content-organization-control.html" class="otherLinkColour">Content Organization Control</a>
							<ul>
								<li><a href="{{ site.manual_parameter}}regionDefinition/content-organization-control.html#name" class="otherLinkColour">Name</a></li>
								<li><a href="{{ site.manual_parameter}}regionDefinition/content-organization-control.html#formatspecificationnamearray" class="otherLinkColour">FormatSpecificationNameArray</a></li>
							</ul>
						</li>
						<li><a href="{{ site.manual_parameter}}regionDefinition/cost-control.html" class="otherLinkColour">Cost Control</a>
							<ul>
								<li><a href="{{ site.manual_parameter}}regionDefinition/cost-control.html#expectedbarcodescount" class="otherLinkColour">ExpectedBarcodesCount</a></li>
						  	</ul>
						</li>
						<li><a href="{{ site.manual_parameter}}regionDefinition/format-control.html" class="otherLinkColour">Format Control</a>
						    	<ul>
								<li><a href="{{ site.manual_parameter}}regionDefinition/format-control.html#barcodeformatids" class="otherLinkColour">BarcodeFormatIds</a></li>
								<li><a href="{{ site.manual_parameter}}regionDefinition/format-control.html#barcodeformatids_2" class="otherLinkColour">BarcodeFormatIds_2</a></li>
						    	</ul>
						</li>
						<li><a href="{{ site.manual_parameter}}regionDefinition/image-process-control.html" class="otherLinkColour">Image Process Control</a>
						    	<ul>
								<li><a href="{{ site.manual_parameter}}regionDefinition/image-process-control.html#top" class="otherLinkColour">Top</a></li>
								<li><a href="{{ site.manual_parameter}}regionDefinition/image-process-control.html#left" class="otherLinkColour">Left</a></li>
								<li><a href="{{ site.manual_parameter}}regionDefinition/image-process-control.html#right" class="otherLinkColour">Right</a></li>
								<li><a href="{{ site.manual_parameter}}regionDefinition/image-process-control.html#bottom" class="otherLinkColour">Bottom</a></li>
								<li><a href="{{ site.manual_parameter}}regionDefinition/image-process-control.html#measuredbypercentage" class="otherLinkColour">MeasuredByPercentage</a></li>
						    	</ul>
						</li>
        			 	</ul>
        			</li>
        			<li>FormatSpecification Object
        				<ul>
        			 
        				</ul>
        			</li>
			</ul>
		</div>
		<div class="container">
			<div class="main">
				<div class = "content markdown-body">
					<p align="left"><img src="{{ site.dynamsoft_logo }}"  alt="Dynamsoft Logo"/></p>
					<p align="right"><a href="{{ site.repositoryUrl }}{{ page.sourceCodeUrl }}" class="otherLinkColour">Edit<img src="{{ site.editIcon }}" width="20px" height="15px" /></a></p>
					{{ content }}
				<div>
			</div>
		</div>
    	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    
  </body>
</html>
