
<!DOCTYPE html>
<html lang="en-US">
	
{%- include head.html -%}
     
<body>
	<div class="wrapper">
		<div class="sideBar">	 
			<div class="sideBarHeader">
				<p><a href="{{ site.homePage }}" class="sideHomePage">< Documentation Home Page</a></p>
				<p><a href="{{ site.manual_interface_enum }}" class="sideName">Dyanamsoft Barcocde Reader - Enumeration</a></p>
			</div>	
			<ul class="disc">
				<li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#accompanyingtextrecognitionmode" class="otherLinkColour">AccompanyingTextRecognitionMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#barcodecolourmode" class="otherLinkColour">BarcodeColourMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#barcodecomplementmode" class="otherLinkColour">BarcodeComplementMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}format-enum.html#barcodeformat" class="otherLinkColour">BarcodeFormat</a></li>
        <li><a href="{{ site.manual_interface_enum}}format-enum.html#barcodeformat_2" class="otherLinkColour">BarcodeFormat_2</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#binarizationmode" class="otherLinkColour">BinarizationMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#colourclusteringmode" class="otherLinkColour">ColourClusteringMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#colourconversionmode" class="otherLinkColour">ColourConversionMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#conflictmode" class="otherLinkColour">ConflictMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#deformationresistingmode" class="otherLinkColour">DeformationResistingMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#dpmcodereadingmode" class="otherLinkColour">DPMCodeReadingMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#grayscaletransformationmode" class="otherLinkColour">GrayscaleTransformationMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}other-enum.html#imagepixelformat" class="otherLinkColour">ImagePixelFormat</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#imagepreprocessingmode" class="otherLinkColour">ImagePreprocessingMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}result-enum.html#imresultdatatype" class="otherLinkColour">IMResultDataType</a></li>
        <li><a href="{{ site.manual_interface_enum}}result-enum.html#intermediateresultsavingmode" class="otherLinkColour">IntermediateResultSavingMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}result-enum.html#intermediateresulttype" class="otherLinkColour">IntermediateResultType</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#localizationmode" class="otherLinkColour">LocalizationMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}other-enum.html#qrcodeerrorcorrectionlevel" class="otherLinkColour">QRCodeErrorCorrectionLevel</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#regionpredetectionmode" class="otherLinkColour">RegionPredetectionMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}result-enum.html#resultcoordinatetype" class="otherLinkColour">ResultCoordinateType</a></li>
        <li><a href="{{ site.manual_interface_enum}}result-enum.html#resulttype" class="otherLinkColour">ResultType</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#scaleupmode" class="otherLinkColour">ScaleUpMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#terminatephase" class="otherLinkColour">TerminatePhase</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#textassistedcorrectionmode" class="otherLinkColour">TextAssistedCorrectionMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#textfiltermode" class="otherLinkColour">TextFilterMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}result-enum.html#textresultordermode" class="otherLinkColour">TextResultOrderMode</a></li>
        <li><a href="{{ site.manual_interface_enum}}parameter-mode-enum.html#texturedetectionmode" class="otherLinkColour">TextureDetectionMode</a></li>        
			</ul>
		</div>
		<div class="container">
			<div class="main">  
				<p align="right"><a href="{{ site.repositoryUrl }}{{ page.sourceCodeUrl }} " align="right" class="otherLinkColour">Edit<img src="{{ site.editIcon }}" width="20px" height="15px" /></a></p>
				{{ content }}
			</div>
		</div>
    	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    
  </body>
</html>
