- [`AccompanyingTextRecognitionMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#accompanyingtextrecognitionmode)	
- [`BarcodeColourMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#barcodecolourmode)	
- [`BarcodeComplementMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#barcodecomplementmode)	
- [`BarcodeFormat`]({{ site.manual_interface_enum}}format-enum.html#barcodeformat)	
- [`BarcodeFormat_2`]({{ site.manual_interface_enum}}format-enum.html#barcodeformat_2)	
- [`BinarizationMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#binarizationmode)	
- [`ColourClusteringMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#colourclusteringmode)	
- [`ColourConversionMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#colourconversionmode)	
- [`ConflictMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#conflictmode)	
- [`DeformationResistingMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#deformationresistingmode)	
- [`DPMCodeReadingMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#dpmcodereadingmode)	
- [`GrayscaleTransformationMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#grayscaletransformationmode)	
- [`ImagePixelFormat`]({{ site.manual_interface_enum}}other-enum.html#imagepixelformat)	
- [`ImagePreprocessingMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#imagepreprocessingmode)	
- [`IMResultDataType`]({{ site.manual_interface_enum}}result-enum.html#imresultdatatype)	
- [`IntermediateResultSavingMode`]({{ site.manual_interface_enum}}result-enum.html#intermediateresultsavingmode)	
- [`IntermediateResultType`]({{ site.manual_interface_enum}}result-enum.html#intermediateresulttype)	
- [`LocalizationMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#localizationmode)	
- [`QRCodeErrorCorrectionLevel`]({{ site.manual_interface_enum}}other-enum.html#qrcodeerrorcorrectionlevel)	
- [`RegionPredetectionMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#regionpredetectionmode)	
- [`ResultCoordinateType`]({{ site.manual_interface_enum}}result-enum.html#resultcoordinatetype)	
- [`ResultType`]({{ site.manual_interface_enum}}result-enum.html#resulttype)	
- [`ScaleUpMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#scaleupmode)	
- [`TerminatePhase`]({{ site.manual_interface_enum}}parameter-mode-enum.html#terminatephase)	
- [`TextAssistedCorrectionMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#textassistedcorrectionmode)	
- [`TextFilterMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#textfiltermode)	
- [`TextResultOrderMode`]({{ site.manual_interface_enum}}result-enum.html#textresultordermode)	
- [`TextureDetectionMode`]({{ site.manual_interface_enum}}parameter-mode-enum.html#texturedetectionmode)
